<table class="table table-hover">
    <tr>
        <td width="35px">
            <a href="{{ url_for('main.user', username=sensor.owner.username) }}">
                <img src="{{ sensor.owner.avatar(35) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.user', username=sensor.owner.username) }}">
                {{ sensor.owner.username }}
            </a>
            {{ moment(sensor.sensor_time).fromNow() }}
            <br>
            {{ sensor.sensor_value }}
        </td>
    </tr>
</table>