{% extends "base.html" %}

{% block app_content %}
    <div id="sensors">
    </div>

    <nav aria-label="...">
        <ul class="pager">
            <li>
                <a id="prev_url" href="">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li>
                <a id="next_url" href="">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/sensor.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    renderNewPage('{{ url_for("api.follow_sensor_api", username=current_user.username) }}');
</script>
{% endblock %}