{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="128px"><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>{{ _('User') }}: {{ user.username }}</h1>
                {% if user.last_seen %}
                <p>{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
                <p>{{ _('%(count)d followers', count=user.followers.count()) }}, {{ _('%(count)d following', count=user.followed.count()) }}</p>
                {% if not current_user.is_following(user) %}
                <p><a href="{{ url_for('main.follow', username=user.username) }}">{{ _('Follow') }}</a></p>
                {% else %}
                <p><a href="{{ url_for('main.unfollow', username=user.username) }}">{{ _('Unfollow') }}</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    <div class="row" id="show">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="container">
                    <p id="message"></p>
                </div>
            </div>
        </div>
    </div>
    <div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div>
                <canvas id="temperature" style="display: none;"></canvas>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div>
                <canvas id="humidity" style="display: none;"></canvas>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div>
                <canvas id="mq2" style="display: none;"></canvas>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div>
                <canvas id="mq5" style="display: none;"></canvas>
            </div>
        </div>
    </div>

    <div id="sensors">
        {% for sensor in sensors %}
            {% include '_sensor.html' %}
        {% endfor %}
    </div>

    <nav aria-label="...">
        <ul class="pager">
            <li>
                <a id="prev_url" href="">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li>
                <a id="next_url" href="">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block scripts %}
{{ super() }}
{% if current_user.username == user.username %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('subscribe', {topic: '{{ current_user.mqtt_topic }}'});
            socket.emit('publish', {topic: '{{ current_user.mqtt_publish_topic }}', status: 'USER_ONLINE'});
        });
        socket.on('{{ current_user.mqtt_topic }}', function(data) {
            $('#message').text(data.payload);
        });
    </script>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript" charset="utf-8">
    function renderSensors(data) {
        $('#sensors').empty();
        var translate = {'temperature': '温度', 'humidity': '湿度'};
        data.forEach(function (element) {
            var sensor = JSON.parse(element['sensor_value']);
            var sensor_text = '';
            Object.keys(sensor).forEach(function(key) {
                    sensor_text += translate[key];
                    sensor_text += ': ';
                    sensor_text += sensor[key];
                    sensor_text += ' ';
            });
            $('#sensors').append(
                '<table class="table table-hover">'
                    + '<tr>'
                        + '<td width="35px">'
                            + '<a href="/user/' + element['owner_name'] + '">'
                                + '<img src="' + element['sensor_owner_avatar'] + '"/>'
                            + '</a>'
                        + '<td>'
                            + '<a href="/user/' + element['owner_name'] + '">'
                                + element['owner_name'] + ' '
                            + '</a>'
                            + moment(element['sensor_time']).fromNow()
                            + '<br>'
                            + sensor_text
                        + '<td>'
                    + '<tr>'
                + '</table>'

            );
        });
    }

    function renderChart(key, label, data, labels) {
        var ctx = document.getElementById(key).getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: label,
                    data: data,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                }]
            },
        });
    }

    function renderChart1(data, labels) {
        var ctx = document.getElementById("myChart1").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: '24 Hours',
                    data: data,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                }]
            },
        });
    }

    $(document).ready(function(){
        {% if current_user.username != user.username %}
            $('#show').hide();
        {% endif %}
        $.ajax({
            url: '{{ url_for("api.user_api", username=user.username) }}',
            type: 'GET',
            success: function(data) {
                //translate type to chinese
                var tranlsate = {'temperature': '最近24小时温度(°C)', 'humidity': '最近24小时湿度(%)'};
                var data = data.reverse();
                var labels = [];
                var sensorValue = [];
                data.forEach(function (element) {
                    //parse date to hours string
                    var date = new Date(element['sensor_time']).getHours().toString();
                    //parse temperature to float
                    sensorValue.push(JSON.parse(element['sensor_value']))
                    //temperature.push(parseFloat(value['temperature']));
                    labels.push(date);
                });
                var dict = {};
                //construct dict to {"type1": [], "type2": [], ...}
                Object.keys(sensorValue[0]).map(function(key, index) {
                        dict[key] = [];
                });
                //push type value to dict
                sensorValue.forEach(function (element) {
                    Object.keys(element).map(function(key, index) {
                        dict[key].push(parseFloat(element[key]));
                    });
                });
                //show canvas
                Object.keys(dict).map(function(key) {
                    $('#'+key).css("display", "block");
                    renderChart(key, tranlsate[key], dict[key], labels);
                });
            }
        })
        $.ajax({
            url: '{{ url_for("api.sensor_api", username=user.username) }}',
            type: 'GET',
            success: function(data) {
                $('#next_url').attr('href', data['_links']['next']);
                $('#prev_url').attr('href', data['_links']['prev']);
                renderSensors(data['items']);
            }
        })
        $('#next_url').click(function(event) {
            event.preventDefault();
            url = $(this).attr('href');
            $.ajax({
                url: url,
                type: 'GET',
                success: function(data) {
                    console.log('[Ajax]', data['items'][0]);
                    console.log('[Moment]', moment(data['items'][0]['sensor_time']).fromNow());
                    renderSensors(data['items']);
                    $('#next_url').attr('href', data['_links']['next']);
                    $('#prev_url').attr('href', data['_links']['prev']);
                }
            })
        })

        $('#prev_url').click(function(event) {
            event.preventDefault();
            url = $(this).attr('href');
            $.ajax({
                url: url,
                type: 'GET',
                success: function(data) {
                    console.log('[Ajax]', data['items'][0]);
                    console.log('[Moment]', moment(data['items'][0]['sensor_time']).fromNow());
                    renderSensors(data['items']);
                    $('#next_url').attr('href', data['_links']['next']);
                    $('#prev_url').attr('href', data['_links']['prev']);
                }
            })
        })

    });
</script>
{% endblock %}